@charset "utf-8";

$main-section-background: white;
$text: black;
  
$family-primary: alegreya, serif;
$body-font-size: 1.35em;

$preferred-text-width: 45rem;
$first-paragraph-width: 45rem;

$body-line-height: 1.9;

@import url('https://use.typekit.net/hwf0fzd.css');
@import "../themes/zola-es-theme/sass/style.scss";
